
@{
    ViewData["Title"] = "Maintenance";
}

<h2>Maintenance</h2>
<div class="well row">
    <div class="row">
        <div class="span4">
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="message">The site is under maintenance.</label>
                </div>
            </div>
        </div>

    </div>
</div>

